.Cursecard__box {
    border: 1px solid $color-gray-light-2;
    margin: 2rem 3rem;
    transition: all .5s;

    @include respondmax(lg){
        margin: 2rem auto;
    }


    &--image { 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;

        img {
            max-width: 100%;
            height: 100%;
        }
    }

    &--content {
        border-top: 1px solid $color-gray-light-2;
        transition: all .5s;
        color: $color-gray-light-2;

        &-title {
            text-transform: uppercase;
            padding: 1rem;
            margin-bottom: 3rem;

            @include respondmax(sm){
                text-align: center
            }
        }

        &-data {
            display: flex;
            align-items: center;
            padding: 1rem;
            justify-content: space-between;

            span {
                font-size: 1.4rem; 
            }
        }


    }

    &:hover {
        border-color: $color-primary-dark;
        @include respondmax(sm){
            border-color: $color-gray-light-2;
        }
    }

    &:hover &--content {
        background-color: $color-primary-dark;
        border-color: $color-primary-dark;
        color: $color-white;
        @include respondmax(sm){
            border-color: $color-gray-light-2;
            color: $color-gray-light-2;
            background-color: $color-white;
        }
    }

}