/////////////////////
///first popup
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;

    &__content {
        width: 25%;
        border-radius: 10px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color-gray-light-1;
        transform: translate(-50%, -50%);

        &--title {
            text-align: center;
            color: $color-gray-dark;
            text-decoration: underline;
            padding: 1rem 0;
        }

        &--text {
            text-align: justify;
            padding: .5rem 2rem;
            color: $color-gray-dark;
        }



        &--link,
        &--link:link,
        &--link:visited {
            text-decoration: none;
            background-color: $color-primary-dark;
            color: $color-white;
            text-align: center;
            width: 49%;
            padding: 1rem;
            font-size: 1.5rem;
            text-transform: uppercase;
        }


        &--link-close {
            float: left;
            border-bottom-left-radius: 5px;

        }

        &--link-Accept {
            float: right;
            border-bottom-right-radius: 5px;
        }
    }
}

.popupCheck__span {
    border-bottom: 1px solid $color-gray;
}

/////////////////////
///Second Popup 
.SecondPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgba($color-black, .8);
    display: none;

    &__content {
        width: 35%;
        border-radius: 10px;
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color-gray-light-3;
        transform: translate(-50%, -50%);

        &--header {
            display: flex;
            justify-content: space-between;

            &-icon {
                font-size: 2rem;
                color: $color-gray;
                cursor: pointer;
            }


            &-title {
                text-align: left;
                color: $color-gray-dark;
                font-size: 2rem;
            }
        }



        &--subtitle {
            text-align: center;
            font-size: 2rem;
            color: $color-primary-dark;
            padding: 1rem;
        }

        &--text {
            text-align: center;
            padding: .5rem 2rem;
            font-size: 1.4rem;
            color: $color-black;
        }


        &--btn {
            display: flex;
            justify-content: space-evenly;

            &-link,
            &-link:link,
            &-link:visited {
                text-decoration: none;
                background-color: $color-primary-dark;
                color: $color-white;
                text-align: center;
                width: 30%;
                padding: 1rem;
                font-size: 1.5rem;
                border-radius: 5px;
                transition: all .5s;
            }

            &-link-efect,
            &-link-efect:link,
            &-link-efect:visited {
                background-color: $color-white;
                border: 1px solid $color-gray;
                color: $color-gray;

                &:hover {
                    background-color: $color-primary-dark;
                    border-color: transparent;
                    color: $color-white;
                }
            }
        }



    }
}

.popupCheck__link,
.popupCheck__link:link,
.popupCheck__link:visited {
    color: $color-gray;
    text-decoration: none;
    font-size: 1.4rem;
}

.popup__link,
.popup__link:link,
.popup__link:visited {
    color: $color-gray;
    text-decoration: none;
    font-size: 1.4rem;

}


.popup__link-2,
.popup__link-2:link,
.popup__link-2:visited {
    color: $color-gray;
    text-decoration: none;
    font-size: 1.4rem;

}




/////////////////////
///therty Popup



.ThertyPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    background-color: rgba($color-black, .8);
    display: none;

    &__content {
        width: 35%;
        border-radius: 10px;
        padding: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color-white;
        transform: translate(-50%, -50%);

        &--header {
            display: flex;
            justify-content: space-between;

            &-icon {
                font-size: 2rem;
                color: $color-gray;
                cursor: pointer;
            }


            &-title {
                text-align: left;
                color: $color-black;
                font-size: 2rem;
            }
        }





        &--btn {
            display: flex;
            justify-content: space-evenly;

            &-link,
            &-link:link,
            &-link:visited {
                text-decoration: none;
                background-color: $color-primary-dark;
                color: $color-white;
                text-align: center;
                width: 30%;
                padding: 1rem;
                font-size: 1.5rem;
                border-radius: 5px;
                transition: all .5s;
            }

            &-link-efect,
            &-link-efect:link,
            &-link-efect:visited {
                background-color: $color-white;
                border: 1px solid $color-gray;
                color: $color-gray;

                &:hover {
                    background-color: $color-primary-dark;
                    border-color: transparent;
                    color: $color-white;
                }
            }
        }

        &--input{
            border-radius: 0;
            padding:2rem 0;
            color: $color-gray-light-2;
            font-size: 1.75rem;
            border-color:$color-gray-light-6;
            border-right: 2px solid ;
            padding: 2rem 1rem;
        
            &:active {
                border-color: $color-black;
            }
        
            &:focus {
                outline: none;
                box-shadow: none;
        
            } 
        
            &:hover {
                border-color: #80bdff;
            } 
        }

    }
}
