/* HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/   */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*! WEBCODER - http://webcoder.az/ Mehemmed Memmedli  16 Aprel 2016  https://github.com/nemerki */
/*
-sm
-m
-lg
-xl

*/
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  /* @include respondmax(md){
		font-size: 40%;
	} 

	@include respondmin(md){
		font-size: 40%;
	} 

	@include respondmin(lg){
		font-size: 56.25%; 
	} 

	@include respondmin(xl){
		font-size: 62.5% ; //1rem=12px
	}		 */
}

body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.azn {
  font-family: jaznb;
}

@font-face {
  font-family: jaznb;
  src: url("../../fonts/jaznb.eot");
  src: url("../../fonts/jaznb.eot?#iefix") format("embedded-opentype"), url("../../fonts/jaznb.woff2") format("woff2"), url("../../fonts/jaznb.woff") format("woff"), url("../../fonts/jaznb.ttf") format("truetype"), url("../../fonts/jaznb.svg#jaznb") format("svg");
}

.Cursecard__box {
  border: 1px solid #b5b5b5;
}

.Cursecard__box--image {
  width: 100%;
  height: 100%;
}

.Cursecard__box--content-title {
  text-transform: uppercase;
  color: #b5b5b5;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.popup__content {
  width: 25%;
  border-radius: 10px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #efefef;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup__content--title {
  text-align: center;
  color: #545454;
  text-decoration: underline;
  padding: 1rem 0;
}

.popup__content--text {
  text-align: justify;
  padding: .5rem 2rem;
  color: #545454;
}

.popup__content--link, .popup__content--link:link, .popup__content--link:visited {
  text-decoration: none;
  background-color: #b40d4a;
  color: #fff;
  text-align: center;
  width: 49%;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.popup__content--link-close {
  float: left;
  border-bottom-left-radius: 5px;
}

.popup__content--link-Accept {
  float: right;
  border-bottom-right-radius: 5px;
}

.popupCheck__span {
  border-bottom: 1px solid #686868;
}

.SecondPopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.SecondPopup__content {
  width: 35%;
  border-radius: 10px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #efefef;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.SecondPopup__content--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SecondPopup__content--header-icon {
  font-size: 2rem;
  color: #686868;
  cursor: pointer;
}

.SecondPopup__content--header-title {
  text-align: left;
  color: #545454;
  font-size: 2rem;
}

.SecondPopup__content--subtitle {
  text-align: center;
  font-size: 2rem;
  color: #b40d4a;
  padding: 1rem;
}

.SecondPopup__content--text {
  text-align: center;
  padding: .5rem 2rem;
  font-size: 1.4rem;
  color: #000;
}

.SecondPopup__content--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.SecondPopup__content--btn-link, .SecondPopup__content--btn-link:link, .SecondPopup__content--btn-link:visited {
  text-decoration: none;
  background-color: #b40d4a;
  color: #fff;
  text-align: center;
  width: 30%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.SecondPopup__content--btn-link-efect, .SecondPopup__content--btn-link-efect:link, .SecondPopup__content--btn-link-efect:visited {
  background-color: #fff;
  border: 1px solid #686868;
  color: #686868;
}

.SecondPopup__content--btn-link-efect:hover, .SecondPopup__content--btn-link-efect:link:hover, .SecondPopup__content--btn-link-efect:visited:hover {
  background-color: #b40d4a;
  border-color: transparent;
  color: #fff;
}

.popupCheck__link,
.popupCheck__link:link,
.popupCheck__link:visited {
  color: #686868;
  text-decoration: none;
  font-size: 1.4rem;
}

.popup__link,
.popup__link:link,
.popup__link:visited {
  color: #686868;
  text-decoration: none;
  font-size: 1.4rem;
}

.popup__link-2,
.popup__link-2:link,
.popup__link-2:visited {
  color: #686868;
  text-decoration: none;
  font-size: 1.4rem;
}

.ThertyPopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.ThertyPopup__content {
  width: 35%;
  border-radius: 10px;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ThertyPopup__content--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ThertyPopup__content--header-icon {
  font-size: 2rem;
  color: #686868;
  cursor: pointer;
}

.ThertyPopup__content--header-title {
  text-align: left;
  color: #000;
  font-size: 2rem;
}

.ThertyPopup__content--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ThertyPopup__content--btn-link, .ThertyPopup__content--btn-link:link, .ThertyPopup__content--btn-link:visited {
  text-decoration: none;
  background-color: #b40d4a;
  color: #fff;
  text-align: center;
  width: 30%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ThertyPopup__content--btn-link-efect, .ThertyPopup__content--btn-link-efect:link, .ThertyPopup__content--btn-link-efect:visited {
  background-color: #fff;
  border: 1px solid #686868;
  color: #686868;
}

.ThertyPopup__content--btn-link-efect:hover, .ThertyPopup__content--btn-link-efect:link:hover, .ThertyPopup__content--btn-link-efect:visited:hover {
  background-color: #b40d4a;
  border-color: transparent;
  color: #fff;
}

.ThertyPopup__content--input {
  border-radius: 0;
  padding: 2rem 0;
  color: #b5b5b5;
  font-size: 1.75rem;
  border-color: #8a8a8a;
  border-right: 2px solid;
  padding: 2rem 1rem;
}

.ThertyPopup__content--input:active {
  border-color: #000;
}

.ThertyPopup__content--input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ThertyPopup__content--input:hover {
  border-color: #80bdff;
}

.interview-section {
  position: relative;
}

.popup-section {
  position: relative;
}

.card-section {
  position: relative;
}

/*! WEBCODER - http://webcoder.az/ Mehemmed Memmedli  16 Aprel 2018  https://github.com/nemerki */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */