$aznb:jaznb;

$color-primary:#f71c52;
$color-primary-dark:#b40d4a;
$color-gray:#686868;
$color-gray-dark:#545454;
$color-gray-light-1:#efefef;
$color-gray-light-2:#b5b5b5;
$color-gray-light-3:#efefef;
$color-gray-light-4:#b4b4b4;
$color-gray-light-5:#e0dfdf;
$color-gray-light-6:#8a8a8a;
$color-white:#fff;
$color-black:#000;