//= template/head.html

<section class="card-section">
    <div class="row">
        <div class="col-md-3 col-sm-6 ">
            <div class="Cursecard__box">
                <div class="Cursecard__box--image">
                    <img src="./img/logo.png" alt="Logo">
                </div>
                <div class="Cursecard__box--content">
                    <h3 class="Cursecard__box--content-title">
                        Graphinct Desinger Curse
                    </h3>

                    <div class="Cursecard__box--content-data">
                        <span>11.11.19</span>
                        <span href="#">5 AZN</span>
                    </div>
                </div>
            </div>
        </div>



       


       
    </div>
</section> 

//= template/footer.html