//= template/head.html

<section class="interview-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="interview__box">

                        <div class="interview__box--image">
                            <img src="./img/avirtel.png" alt="">
                        </div>

                        <h4 class="interview__box--title">AVIRTEL </h4>
                        <h5 class="interview__box--subtitle">Telecommunication </h5>

                        <p class="interview__box--text">You have got interview from this company</p>

                        <a href="#" class="interview__box--btn">Reject</a>

                        <a href="#" class="interview__box--btn">Accept</a>
                        <span>Your applied time</span>

                        <i class="far fa-clock"></i>
                        <span>11/11/19 </span>

                </div>
            </div>
        </div>
    </div>
</section>

//= template/footer.html