//= template/head.html


<section class="popup-section">
    <!-- ////////////////////////////////////////////
    ///////////////FIRST POPUP-->
    <form action="#" class="popupCheck">
        <input type="checkbox" name="foo">
        <a href="#" class=" popupCheck__link">I Agree <span class="popupCheck__span">the terms and conditions.</span>
        </a>
    </form>


    <div class="popup">
        <div class="popup__content">
            <h3 class="popup__content--title">THE TERMS AND CONDITIONS</h3>
            <p class="popup__content--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus
                vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra
                maecenas accumsan lacus vel facilisis.
            </p>

            <p class="popup__content--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus
                vel facilisis.

            </p>

            <p class="popup__content--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus
                vel facilisis.
            </p>

            <a href="#" class="popup__content--link  popup__content--link-close">Cancel</a>
            <a href="#" class="popup__content--link popup__content--link-Accept">ACCEPT</a>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- ////////////////////////////////////////////
    ///////////////SECOND POPUP-->
    <a href="#" class=" popup__link">Test</a> <br>
    <div class="SecondPopup">
        <div class="SecondPopup__content">
            <div class="SecondPopup__content--header">
                <h3 class="SecondPopup__content--header-title">Özgeçimi sil</h3>

                <span class="SecondPopup__content--header-icon fas fa-times "></span>
            </div>



            <h4 class="SecondPopup__content--subtitle">
                <i class="far fa-trash-alt"></i> Öz geçmişin silinəcək
            </h4>

            <p class="SecondPopup__content--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt
            </p>

            <div class="SecondPopup__content--btn">
                <a href="#" class="SecondPopup__content--btn-link  SecondPopup__content--btn-link-efect ">sil</a>
                <a href="#" class="SecondPopup__content--btn-link ">vazgec</a>
            </div>

        </div>
    </div>



    <!-- ////////////////////////////////////////////
    ///////////////THERTY POPUP-->
    <a href="#" class=" popup__link-2">Test 2</a>
    <div class="ThertyPopup">
        <div class="ThertyPopup__content">

                <div class="ThertyPopup__content--header">
                        <h3 class="ThertyPopup__content--header-title">CV-ni deyisdir</h3>
        
                        <span class="ThertyPopup__content--header-icon fas fa-times "></span>
                    </div>


            <form action="#">
                <div class=" form-group" style="  margin:3rem 0rem;" >
                    <input class="form-control ThertyPopup__content--input " placeholder="Özgeçmiş ismini giriniz."  type="text">
                </div>
            </form>

            <div class="ThertyPopup__content--btn">
                <a href="#" class="ThertyPopup__content--btn-link  ThertyPopup__content--btn-link-efect ">save</a>
            </div>

        </div>
    </div>
</section>

//= template/footer.html